$rosewater:   #f5e0dc;
$flamingo:    #f2cdcd;
$pink:        #f5c2e7;
$mauve:       #cba6f7;
$red:         #f38ba8;
$maroon:      #eba0ac;
$peach:       #fab387;
$yellow:      #f9e2af;
$green:       #a6e3a1;
$teal:        #94e2d5;
$sky:         #89dceb;
$sapphire:    #74c7ec;
$blue:        #89b4fa;
$lavender:    #b4befe;

$text:        #cdd6f4;
$subtext1:    #bac2de;
$subtext0:    #a6adc8;
$overlay2:    #9399b2;
$overlay1:    #7f849c;
$overlay0:    #6c7086;

$surface2:    #585b70;
$surface1:    #45475a;
$surface0:    #313244;

$base:        #1e1e2e;
$mantle:      #181825;
$crust:       #11111b;

//$fg: $text;
//$bg: rgba(30, 30, 46, 0.6);
$bg1: rgba(49, 50, 68, 0.6);
$border: #28283d;
$shadow: $crust;

$fg:	#FFFFFF;
$bg:	#010409;
$regular0:	#000000;  // black
$regular1:	#FF0000;  // red
$regular2:	#38DE21;  // green
$regular3:	#FFE50A;  // yellow
$regular4:	#268bd2;  // blue
$regular5:	#FF005D;  // magenta
$regular6:	#00BBBB;  // cyan
$regular7:	#BBBBBB;  // white
$bright0:	#777777;   // bright black
$bright1:	#F40E17;   // bright red
$bright2:	#3BD01D;   // bright green
$bright3:	#EDC809;   // bright yellow
$bright4:	#5555FF;   // bright blue
$bright5:	#FF55FF;   // bright magenta
$bright6:	#6AE3FA;   // bright cyan
$bright7:	#FFFFFF;   // bright white       

$inactive: $bright0;
$mon0: $regular6;
$mon1: $regular3;
$mon2: $regular5;

$menu-button: $regular6;
$help-button: $regular3;

$network-interface: $regular2;
$network-ip: $regular5;
$network-prefixlen: $regular6;

$cpu: $regular6;
$memory: $regular5;
$disk: $regular2;

$battery-ok: $regular6;
$battery-low: $regular1;

