@import 'css/colors';
@import 'css/mocha';

* { 
  all: unset;
}

.inactive, .monitor-inactive {
  color: $surface2;
}

.monitor-0 { color: $blue; }
.monitor-1 { color: $peach; }
.monitor-2 { color: $green; }

.menu-button { color: $blue; }
.help-button { color: $yellow; }

.network-icon { color: $green; }
.network-interface { color: $mauve; }
.network-ip { color: $peach; }
.network-prefixlen { color: $mauve; }

.cpu-usage-bar, .memory-usage-bar, .disk-usage-bar {
  background-color: $surface2;
}
.cpu-usage-bar { color: $blue; }
.memory-usage-bar { color: $peach; }
.disk-usage-bar { color: $green; }

.battery-ok { color: $mauve; }
.battery-low { color: $red; }
.battery-discharging { color: $red; }

.clock { color: $peach; }

.bar-left {
  background-color: $bg;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1rem;
}

.bar-left-slant {
  background-color: transparent;
  background-image: url("assets/top-left.svg");
}

.bar-right {
  background-color: $bg;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1rem;
}

.bar-right-slant {
  background-color: transparent;
  background-image: url("assets/top-right.svg");
}

.centre-mod {
  background-color: $bg;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px;
  border-radius: 10px;
}

.side-bar {
  background-color: $bg;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.sys-stats {
  font-size: 0.75rem;
 }

.icon { 
  font-family: Material Symbols Outlined;
}

